<!--
    This launch file starts all communication needed in order to control and localize the bot.
    I.e. the raw data comms to the Low Level Board, the GPS, etc.
-->
<launch>
    <!-- TODO: Add parameter for simulation -->
    <!-- v1 if HARDWARE_PLATFORM == 1 -->
    <group if="$(eval env('HARDWARE_PLATFORM') == '1')">
        <!-- Comms v1 -->
        <node pkg="mower_comms_v1" type="mower_comms_v1" name="ll" unless="$(optenv OM_NO_COMMS False)"
                output="screen" respawn="true" respawn_delay="10">
        </node>
        <!-- GPS driver only for v1 builds -->
        <node pkg="xbot_driver_gps" type="driver_gps_node" name="gps"
                ns="ll/services"
                output="screen"
                respawn="true"
                respawn_delay="5"
                unless="$(optenv OM_NO_GPS False)">
            <remap from="/ll/services/rtcm" to="/ll/position/gps/rtcm"/>
            <remap from="/nmea" to="/ll/position/gps/nmea"/>
            <remap from="~xb_pose" to="/ll/position/gps"/>
            <remap from="~wheel_ticks" to="/mower/wheel_ticks"/>
        </node>

    </group>

    <!-- v2 / custom Mega bridge if HARDWARE_PLATFORM == 2 -->
    <group if="$(eval env('HARDWARE_PLATFORM') == '2')">
        <group unless="$(optenv OM_NO_COMMS False)">
            <node pkg="mower_mega_bridge" type="mower_mega_bridge_node" name="ll"
                  output="screen" respawn="true" respawn_delay="10">
                <param name="port"             value="$(optenv OM_MEGA_PORT /dev/ttyAMA0)"/>
                <param name="baud"             value="$(optenv OM_MEGA_BAUD 57600)"/>
                <param name="wheel_distance_m" value="$(optenv OM_WHEEL_DISTANCE_M 0.325)"/>
                <param name="max_pwm"          value="$(optenv OM_MAX_PWM 255)"/>
                <param name="heartbeat_hz"     value="$(optenv OM_HB_HZ 3.0)"/>
            </node>
        </group>

        <!-- GPS driver for Mega platform (same output topics as v1). -->
        <node pkg="xbot_driver_gps" type="driver_gps_node" name="gps"
                ns="ll/services"
                output="screen"
                respawn="true"
                respawn_delay="5"
                unless="$(optenv OM_NO_GPS False)">
            <!-- Explicit params for v2/custom setups where comms_gps_params.yaml is not loaded -->
            <param name="serial_port" value="$(optenv OM_GPS_PORT /dev/ttyACM0)"/>
            <param name="baudrate" value="$(optenv OM_GPS_BAUDRATE 921600)"/>
            <param name="protocol" value="$(optenv OM_GPS_PROTOCOL UBX)"/>
            <param name="device_type" value="$(optenv OM_GPS_DEVICE_TYPE serial)"/>
            <param name="mode" value="absolute" unless="$(optenv OM_USE_RELATIVE_POSITION False)"/>
            <param name="mode" value="relative" if="$(optenv OM_USE_RELATIVE_POSITION False)"/>
            <param name="datum_lat" value="$(optenv OM_DATUM_LAT 0.0)" unless="$(optenv OM_USE_RELATIVE_POSITION False)"/>
            <param name="datum_long" value="$(optenv OM_DATUM_LONG 0.0)" unless="$(optenv OM_USE_RELATIVE_POSITION False)"/>
            <param name="datum_height" value="0" unless="$(optenv OM_USE_RELATIVE_POSITION False)"/>

            <remap from="/ll/services/rtcm" to="/ll/position/gps/rtcm"/>
            <remap from="/nmea" to="/ll/position/gps/nmea"/>
            <remap from="~xb_pose" to="/ll/position/gps"/>
            <remap from="~wheel_ticks" to="/mower/wheel_ticks"/>
        </node>
    </group>
    <group unless="$(optenv OM_NO_GPS False)">
    <!-- NTRIP for both: v1 and v2 -->
        <include if="$(optenv OM_USE_NTRIP True)" file="$(find open_mower)/launch/include/_ntrip_client.launch"/>
    </group>

</launch>
