<launch>
    <arg name="use_xbot_positioning" default="$(optenv OM_XBOT_POSITIONING_ENABLE False)"/>
    <arg name="gps_topic" default="/fix"/>

    <include file="$(find open_mower)/launch/include/_comms.launch"/>
    <include file="$(find open_mower)/launch/include/_move_base.launch"/>
    <include if="$(arg use_xbot_positioning)" file="$(find open_mower)/launch/include/_localization.launch"/>
    <include unless="$(arg use_xbot_positioning)" file="$(find mower_mega_bridge)/launch/localization.launch">
        <arg name="gps_topic" value="$(arg gps_topic)"/>
        <arg name="enable_global_ekf" value="false"/>
        <arg name="enable_navsat_transform" value="false"/>
    </include>
    <node unless="$(arg use_xbot_positioning)"
          pkg="mower_mega_bridge"
          type="xbot_pose_bridge_node"
          name="xbot_pose_bridge"
          output="screen"
          respawn="true"
          respawn_delay="5"/>
    <include file="$(find open_mower)/launch/include/_teleop.launch"/>
    <include file="$(find open_mower)/launch/include/_record.launch">
        <arg name="prefix" value="mow_area"/>
    </include>
    <include if="$(optenv OM_IOS_BRIDGE_ENABLE True)" file="$(find open_mower)/launch/include/_ios_bridge.launch"/>


    <node pkg="mower_map" type="mower_map_service" name="map_service" output="screen" respawn="true" respawn_delay="10"/>
    <node pkg="mower_logic" type="mower_logic" name="mower_logic" output="screen" respawn="true" respawn_delay="10">
    </node>
    <node pkg="slic3r_coverage_planner" type="slic3r_coverage_planner" name="slic3r_coverage_planner" output="screen" respawn="true" respawn_delay="10"/>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen" respawn="true" respawn_delay="10">
        <remap from="cmd_vel_out" to="/ll/cmd_vel"/>

        <rosparam file="$(find open_mower)/params/twist_mux_topics.yaml" command="load"/>
    </node>

    <node pkg="xbot_monitoring" type="xbot_monitoring" name="xbot_monitoring" output="screen" respawn="true"
          respawn_delay="10">
        <remap from="/xbot_monitoring/remote_cmd_vel" to="/joy_vel"/>
    </node>

    <node pkg="xbot_monitoring" type="heatmap_generator" name="heatmap_generator" output="screen" respawn="true"
          respawn_delay="10" unless="$(eval optenv('OM_HEATMAP_SENSOR_IDS', 'UNSET') == 'UNSET')">
    </node>

    <!-- launch-prefix kills any lingering process on port 9002 before binding -->
    <node pkg="xbot_remote" type="xbot_remote" name="xbot_remote" output="screen"
          respawn="true" respawn_delay="15"
          launch-prefix="bash -c 'fuser -k 9002/tcp 2>/dev/null; sleep 0.5; exec &quot;$@&quot;' --">
        <remap from="/xbot_remote/cmd_vel" to="/joy_vel"/>
    </node>

    <node pkg="mower_logic" type="monitoring" name="monitoring" output="screen" respawn="true" respawn_delay="10"/>

    <include file="$(find open_mower)/launch/include/_params.launch"/>
</launch>
